{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="yellow_bg">
   <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>About</h2>
                    
                  </div>
               </div>
            </div>
          </div>
</div>
<!-- about -->
<div class="about">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="title">
                
                
                <!--<span>It is a long established fact that a reader will be distracted by the readable content of a
                   <br> page when looking at its layout. The point of using Lorem
                </span>--->
             </div>
          </div>
       </div>
       <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about_box">
                 <h3>About Us</h3>
                 <p>The Transport Department, Government of West Bengal operates from the Paribahan Bhavan, 12, R.N. Mukherjee Road, Kolkata 700001. The Kolkata RTO office is known as Public Vehicles Department. In addition to that there are RTO offices in each of the districts and are normally located at the District Magistrates office precincts. To cope with the huge vehicle population there are independent M V offices manned by ARTOs in seven important and densely populated sub-divisions. In addition to that there are three border check posts. </p>
                 <a href="#">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
             </div>
         </div>
          <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
             <div class="about_img">
                 <figure><img src="images/pexels-aleksejs-bergmanis-681334.jpg" alt="#/"></figure>
             </div>
         </div>      
       </div> 
    </div>
</div>
<!-- end about -->

{% endblock %}