{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- footer -->
    <div class="row" style="padding-top: 200px;">
        <div class=" col-md-12" style="padding-left: 50px;">
          <h2>Request  A<strong> Call  Back</strong></h2>
        </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            
              <form class="main_form">
                  {% csrf_token %}

                  <div class="row">
                   
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <input class="form-control" placeholder="Name" type="text" name="name" required>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <input class="form-control" placeholder="Email" type="email" name="email" required>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <input class="form-control" placeholder="Subject" type="text" name="subject" required>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <textarea class="textarea" placeholder="Message" type="text" name="message"></textarea>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <button class="send">Send</button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="img-box">
                  <figure><img src="{% static 'PublicStatic/images/pexels-lê-minh-977213.jpg' %}" alt="img" /></figure>
              </div>
          </div>
      </div>
    {% endblock %}