*{
    background-attachment: fixed ;
}
.container{
    padding-top: 10%;
}
#selection{
    align-items: center;
     text-align: center;
}
.card{
     height: 60vh;
     width: 60vw;
     margin-left:20%;
     margin-right:20%;
}

.paragrph{
    text-align: center;
    text-transform: capitalize;
}