{% extends 'adminbase.html' %}
{% block content %}
{% load static %}

<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="col-md-8 col-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body">
                        <form action="/book-vehicle/{{details.id}}/" method="POST" class="form form-vertical"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="first-name-vertical">Booking by User </label>
                                            <input type="text" id="first-name-vertical" class="form-control"
                                                name="fname"
                                                value="{{request.user.first_name}} {{request.user.last_name}}" disabled>

                                        </div>
                                        <div class="form-group">
                                            <label for="first-name-vertical">Book Vehicle Type</label>
                                            <input type="text" id="first-name-vertical" class="form-control"
                                                name="fname" value="{{details.vehicle_type.name}}" disabled>

                                        </div>
                                        <div class="form-group">
                                            <label for="first-name-vertical">Book Vehicle Name</label>
                                            <input type="text" id="first-name-vertical" class="form-control"
                                                name="fname" value="{{details.name}}" disabled>

                                        </div>
                                        <div class="form-group">
                                            <label for="first-name-vertical">Book Vehicle Number</label>
                                            <input type="text" id="first-name-vertical" class="form-control"
                                                name="fname" value="{{details.vehiclenumber}}" disabled>

                                        </div>
                                        <div class="form-group">
                                            <label for="first-name-vertical">Price Per Day</label>
                                            <input type="text" id="first-name-vertical" class="form-control"
                                                name="fname" value="{{details.price_per_day}}" disabled>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="first-name-vertical">Book For Number of Day's *</label>
                                        <input type="number" id="first-name-vertical" class="form-control" name="days"
                                            required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="first-name-vertical">Book From Date *</label>
                                        <input type="date" id="first-name-vertical" class="form-control" name="book_from"
                                            required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="first-name-vertical">Book upto Date *</label>
                                        <input type="date" id="first-name-vertical" class="form-control" name="book_to"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="first-name-vertical">Enter ID Card Number *</label>
                                        <input type="number" maxlength="12" minlength="12" id="first-name-vertical"
                                            class="form-control" name="aadhar" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="first-name-vertical">Enter ID Card Proof *</label>
                                        <input type="file" class="form-control" name="id_proof" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Book</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


{% endblock %}