{% extends 'adminbase.html' %}
{% block content %}
{% load static %}
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                {% if details.profilePicture %}
                <img src="{{details.profilePicture.url}}" height="50" width="50"/>
                {% else %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                    alt="" />
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{details.user.first_name}} {{details.user.last_name}}
                </h5>
            </div>
        </div>

    </div>
    <br>
    <div class="col-md-4">
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-6">
                        <label>User Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{details.user.username}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{details.user.first_name}} {{details.user.last_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{details.user.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>User Type</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{details.userType}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Phone</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{details.contact_No}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Address</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{details.address}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>DOB</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{details.dob}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}